<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754379498291-57goobqm5tpqnbf5j16vesttlurcdvgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754379498291-57goobqm5tpqnbf5j16vesttlurcdvgo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754379498291-hi8462nclebbvjthq8k1dn5h989qcv37.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZG4WMpiwReoToWCj5HhWlXUsqE4sfV0I</string>
	<key>GCM_SENDER_ID</key>
	<string>754379498291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasprojekcard</string>
	<key>PROJECT_ID</key>
	<string>newsflutter-74e00</string>
	<key>STORAGE_BUCKET</key>
	<string>newsflutter-74e00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754379498291:ios:98bd7e5a9e454f1605d446</string>
</dict>
</plist>